@import "../../assets/constants.scss";

.menu {
	display: flex;
	align-items: center;
	justify-content: center;

	&__link {
		padding: 0 10px;
		border-right: 1px solid $color-light-red;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			border-right: none;
		}
	}

	&-active {
		background-color: $color-mustard;
	}
}

@media screen and (max-width: $breakpoint-menu) {
}
