@import "../../assets/constants.scss";

.link {
	padding: 0 10px;
	border-right: 1px solid $color-cerulean;

	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		border-right: none;
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
}
