@import "../../assets/constants.scss";

.about {
	display: flex;
	padding: 50px 0;
	align-items: center;
	position: relative;

	&__greeting {
		&-accent {
			color: $color-mustard;
		}
		&-hi {
			font-size: 4em;
			font-family: $font-allura;
		}
		&-short {
			width: 80%;
			margin-bottom: 32px;
		}
	}

	svg {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media screen and (max-width: $breakpoint-menu) {
	.about {
		flex-direction: column;
		padding: 30px 0;
	}
	.about__image img {
		margin-top: 20px;
	}
}
