@import "../../assets/constants.scss";

.volunteer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 48px;
	margin-bottom: 48px;

	&__gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 48px;
		margin-bottom: 48px;

		&-photo {
			max-width: $breakpoint-minimun;
			object-fit: cover;
			border: 14px white solid;
			margin: 20px;
		}
	}
}
