.volunteer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;

	&__gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 50px;

		&-photo {
			width: 400px;
			height: 350px;
			object-fit: cover;
			border: 14px white solid;
			margin: 20px;
		}
	}
}
