@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$font-lato: "Lato", sans-serif;

// colors
$color-raisin-black: #34252fff;
$color-antiflash-white: #ebebebff;
$color-cerulean: #007991ff;
$color-light-red: #ff7477ff;
$color-mustard: #fdc500;

// gradients
$blue-turkish: linear-gradient(
	90deg,
	hsla(242, 58%, 73%, 1) 0%,
	hsla(157, 72%, 82%, 1) 100%
);

/* background: hsla(236, 100%, 8%, 1);

background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000328", endColorstr="#00458E", GradientType=1 ); */
